<!DOCTYPE html>
<html>
  <head>
    <Title>Home Page</Title>
  </head>
  <header>
    <ul>
      <li class="title">Home Page</li>
      <li><a [routerLink]="['/about-us']">About Us</a></li>
      <li>Services</li>
      <li>Contact Now</li>
    </ul>
  </header>
  <main>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat vero
      maiores vitae similique quas accusantium debitis, est optio aperiam!
      Exercitationem minima labore, harum inventore quo eaque aspernatur facere
      beatae fugit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat vero
      maiores vitae similique quas accusantium debitis, est optio aperiam!
      Exercitationem minima labore, harum inventore quo eaque aspernatur facere
      beatae fugit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat vero
      maiores vitae similique quas accusantium debitis, est optio aperiam!
      Exercitationem minima labore, harum inventore quo eaque aspernatur facere
      beatae fugit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat vero
      maiores vitae similique quas accusantium debitis, est optio aperiam!
      Exercitationem minima labore, harum inventore quo eaque aspernatur facere
      beatae fugit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat vero
      maiores vitae similique quas accusantium debitis, est optio aperiam!
      Exercitationem minima labore, harum inventore quo eaque aspernatur facere
      beatae fugit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat vero
      maiores vitae similique quas accusantium debitis, est optio aperiam!
      Exercitationem minima labore, harum inventore quo eaque aspernatur facere
      beatae fugit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat vero
      maiores vitae similique quas accusantium debitis, est optio aperiam!
      Exercitationem minima labore, harum inventore quo eaque aspernatur facere
      beatae fugit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat vero
      maiores vitae similique quas accusantium debitis, est optio aperiam!
      Exercitationem minima labore, harum inventore quo eaque aspernatur facere
      beatae fugit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat vero
      maiores vitae similique quas accusantium debitis, est optio aperiam!
      Exercitationem minima labore, harum inventore quo eaque aspernatur facere
      beatae fugit.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat vero
      maiores vitae similique quas accusantium debitis, est optio aperiam!
      Exercitationem minima labore, harum inventore quo eaque aspernatur facere
      beatae fugit.
    </p>
  </main>
  <footer>
    <p>Copyright &copy; 2021</p>
  </footer>
</html>
